.App {
  text-align: center;
}

.Shelves_header {
  background-color: #ab2a19;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.Shelves_header_content {
  width: auto;
  height: auto;
  position: relative;
}